.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

#question-table > thead > tr > th,
#question-table > tbody > tr > td
{
    text-align:center;
}